<div class="wrapper wrapper-content">
    <div class="row animated fadeInLeft">
        <div class="col-lg-6 text-center">
            <div class="ibox">
              <div class="ibox-title">
                <h1><strong>How Well Do You Suture<br>On a Banana?</strong></h1>
              </div>
              <div class="ibox-content" style="height:425px">
                  <%= image_tag "banana_circle.png", width: "30%", style:"margin:20px 0;"%>
                    <h3 style="margin:10px">Upload a photo of your sutured banana to get your score.</h3>
                    <button class="btn btn-primary dim" style="margin:10px"><%= link_to 'Get Your Score', new_game_path, style:"color:#fff" %></button>
              </div>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <div class="ibox">
              <div class="ibox-title">
                <h1><strong>How Well Do You Suture<br>On Other Practice Items?</strong></h1>
              </div>
              <div class="ibox-content" style="height:425px">
                  <%= image_tag "orange_circle.png", width: "30%", style:"margin:20px 0;" %>
                  <h3 style="margin:10px"><br>We'll soon add the ability to score other practice items like oranges! Yum.</h3>
                  <h3 style="font-size:18px;"><br>Coming Soon</h3>
              </div>
            </div>
        </div>
    </div>
</div>
