<div class="footer">
    <div  class="pull-right">
        <a href="https://www.linkedin.com/company/5357952" style="color:#676a6c"><strong>Melissa McCoy</strong></a> &copy; 2015-2016
    </div>
</div>
