<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <a href="/" class="navbar-brand" style="padding:5px 15px;"><%= image_tag "banana_logo_text.svg" %></a>
        </div>
    </nav>
</div>
