<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="/" class="navbar-brand" style="padding:15px;width:250px;"><%= image_tag "logo2.png", width:"100%" %></a>

        </div>
        <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-top-links navbar-right" >
            <li><a href="<%= url_for dashboard_path %>" ><i class="fa fa-gamepad"></i>New Game</a></li>
            <li><a href="<%= url_for games_path %>" ><i class="fa fa-trophy"></i>High Scores</a></li>
        </ul>
        </div>
    </nav>
</div>
